*.dep
tags
*.swp
*.kate-swp
*.exe
*.o
*.o.d
*.dex
*.apk
*.zip
*.jar
*.cache
*.a
*.dat
*~
*.MD2
*.md2
grammar.tab.c
*.aux
*.log
*.pdf
*.backup
*.toc
*.dvi
*.out
*~
*.ttf
*.ttc
*.jpg
*.tga
*.lib
*.ncb
*.user
*.obj
*.suo
*.ilk
*.pdb
BuildLog.htm
Debug
Release
temp
*.idb 
*.manifest
*.DLL
*.class
*.swo
assets
*.mp3


*.exp
*.map
lib/library/win32/obj
lib/library/linux/obj
